APP_NAME=Shift Engine API
APP_VERSION=1.0.0
ENVIRONMENT=development

DATABASE_URL=postgresql+psycopg://omar@localhost:5432/driver_shift_system
SECRET_KEY=3nvTEnpWBmTevjInmWE_BWxJb8RaoOVGJRAld-2bFixNEfLr2KqaLtUiqgc7JCZtFsWxo56EaFQa4ECEzQwCYw
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
REMEMBER_ME_EXPIRE_MINUTES=43200

CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

GOOGLE_SHEETS_CREDENTIALS_FILE='/Users/omar/Desktop/Shift Engine WebAPP/append-ocr-value-to-gs-bd3019a3df00.json'
GOOGLE_SHEETS_SPREADSHEET_ID=1aJ4FbyL_0YY-XDPYcFXx8GNH_H9VpxhEX_VuXE-BJyg
GOOGLE_SHEETS_START_SHEET_NAME=Shift_Start
GOOGLE_SHEETS_END_SHEET_NAME=Shift_End
GOOGLE_SHEETS_WHOLE_SHIFT_SHEET_NAME=Whole_Shifts

GEMINI_API_KEY=AIzaSyBpE0QcuLvduytsbWOK5SyC7Ea90dONwNQ
GEMINI_MODEL=gemini-3.1-flash
GEMINI_TIMEOUT_SECONDS=30
USE_VERTEX_AI=false
GOOGLE_CLOUD_PROJECT=
GEMINI_REGIONS=us-central1,europe-west1
GOOGLE_SERVICE_ACCOUNT_JSON=
GOOGLE_CLOUD_STORAGE_BUCKET_NAME=append-ocr-value-to-gs-shift-images
GOOGLE_CLOUD_STORAGE_DASHBOARD_IMAGES_PREFIX=dashboard-images
